/**** css/style.css ***/
body {
    text-align: center;
    margin: 0;
}

* {
    box-sizing: border-box;
}

/* basic stylings */
.container {
    /* font-family: 'Roboto'; */
    /* width:600px;  */
    margin: 30px auto 0;
    padding: 10px 50px 50px;
    /* text-align: center; */
}

h1 {
    margin-bottom: 50px;
    color: #292783;
}

.footer {
    margin-top: 4rem;
    display: inline-block;
    width: 90%;
}

/* hr {
    color: #757575;
} */
.footer a {
    color: #53B2C8;
}

/* new item input group */
.group {
    position: relative;
    margin-bottom: 45px;
    /* text-align: center; */
    display: inline-block;
    width: 85%;
}

.new-item, .editable {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
}

.new-item:focus, .editable:focus {
    outline: none;
}


/* new item input label */
label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
.new-item:focus ~ label, .new-item:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

/* input bottom bar */
.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
.new-item:focus ~ .bar:before, .new-item:focus ~ .bar:after {
    width: 50%;
}

/* highlight */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
.new-item:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* todo list part */
.todo-list {
    padding: 0;
    margin: 0;
    width: 90%;
    display: inline-block;
    margin: 0 0 20px 0;
}

.todo-item {
    background: #fff;
    box-shadow: 0 1px 2px #999;
    font-family: sans-serif;
    /* height: 50px; */
    text-align: left;
    line-height: 20px;
    list-style: none;
    margin: 10px 0;
    padding: 15px;
    transform: translateZ(0);
    transition: box-shadow 0.25s ease-in;
}

/* complete checkbox part */
.complete-checkbox[disabled],
  .complete-checkbox[disabled] + label {
    cursor: not-allowed;
    opacity: 0.5;
}

.complete-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    border: 0.15em solid currentColor;
    color: rgba(0,0,0,0.54);
    padding: 0.5em;
    border-radius: 0.2em;
    display: inline-block;
    vertical-align: middle;
    transition: 0.4s ease background, 0.1s ease transform;
    position: relative;
    width: 10px;
}

.complete-checkbox:before {
    content: "";
    transition: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    background: #3042a6;
    opacity: 0.4;
    border-radius: 50%;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.complete-checkbox:checked {
    background: #3f51b5 url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgdmVyc2lvbj0iMS4xIgogICB2aWV3Qm94PSIwIDAgMSAxIgogICBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWluWU1pbiBtZWV0Ij4KICA8cGF0aAogICAgIGQ9Ik0gMC4wNDAzODA1OSwwLjYyNjc3NjcgMC4xNDY0NDY2MSwwLjUyMDcxMDY4IDAuNDI5Mjg5MzIsMC44MDM1NTMzOSAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IE0gMC4yMTcxNTcyOSwwLjgwMzU1MzM5IDAuODUzNTUzMzksMC4xNjcxNTcyOSAwLjk1OTYxOTQxLDAuMjczMjIzMyAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IgogICAgIGlkPSJyZWN0Mzc4MCIKICAgICBzdHlsZT0iZmlsbDojZmZmZmZmO2ZpbGwtb3BhY2l0eToxO3N0cm9rZTpub25lIiAvPgo8L3N2Zz4K");
}

.complete-checkbox:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
}

.complete-checkbox-label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

/* button part */
.button {
  left: 0;
  right: 0;
  top: 50%;
  margin: 0 20px;
  width: 25%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  background: #2e39a0;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #292783;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* newly added 6 */
@media only screen and (max-width: 600px) {
}
